@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  font-family: "Bree Serif", serif;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.ant-menu-horizontal {
  justify-content: center;
}

.ant-carousel {
  margin-bottom: 20px;
}

.ant-layout-footer {
  background-color: #001529;
  color: white;
  padding: 20px;
  text-align: center;
}

.fees-form {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  width: 60%;
  margin: 30px auto;
  padding: 10px;
}
/* <----feepage---> */
.fees-drawer {
  display: flex;
  justify-content: space-between;
}
.result-generate-form {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
.result-submit-btn {
  width: 10%;
  margin: auto;
}

.result-heading {
  text-align: center;
  margin-top: 10px;
}
.buses-container {
  width: 70%;
  margin: auto;
}
.buses-container img {
  width: 100%;
}

@media screen and (min-width: 200px) and (max-width: 420px) {
  .result-generate-form {
    flex-wrap: wrap;
  }
  .buses-container h1 {
    font-size: 14px;
  }
  .result-submit-btn {
    width: 80%;
    margin: auto;
  }
  .result-heading {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
  }
  .header-hello-admin,
  .gif-animation {
    display: none;
  }
}
@media screen and (min-width: 421px) and (max-width: 1024px) {
  .result-generate-form {
    flex-wrap: wrap;
  }
  .result-submit-btn {
    width: 30%;
    margin: auto;
  }
  .buses-container {
    width: 100%;
    margin: auto;
  }
  .buses-container h1 {
    font-size: 14px;
  }
  .buses-container img {
    width: 100%;
  }
}
