@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  font-family: "Bree Serif", serif;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.ant-menu-horizontal {
  justify-content: center;
}

.ant-carousel {
  margin-bottom: 20px;
}

.ant-layout-footer {
  background-color: #001529;
  color: white;
  padding: 20px;
  text-align: center;
}

.fees-form {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  width: 60%;
  margin: 30px auto;
  padding: 10px;
}
/* <----feepage---> */
.fees-drawer {
  display: flex;
  justify-content: space-between;
}
.result-generate-form {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
.result-submit-btn {
  width: 200px;
  margin: auto;
}

.result-heading {
  text-align: center;
  margin-top: 10px;
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .result-generate-form {
    flex-wrap: wrap;
  }
}
