* {
  font-family: "roboto serif";
  padding: 0;
  margin: 0;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
h1 {
  margin-top: 20px;
  font-size: 30px;
}
.ant-layout-content {
  padding-top: 0px;
}
.tabs-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ant-menu-horizontal {
  justify-content: center;
}

.ant-carousel {
  margin-bottom: 20px;
}

.ant-layout-footer {
  background-color: #001529;
  color: white;
  padding: 20px;
  text-align: center;
}

.fees-form {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  width: 60%;
  margin: 30px auto;
  padding: 10px;
}
.ant-menu-title-content {
  font-weight: 600;
  font-size: 13px;
}
/* <----feepage---> */
.fees-drawer {
  display: flex;
  justify-content: space-between;
}
.result-generate-form {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
.result-submit-btn {
  width: 10%;
  margin: auto;
}

.result-heading {
  text-align: center;
  margin-top: 10px;
}
.buses-container {
  width: 70%;
  margin: auto;
}
.buses-container img {
  width: 100%;
}
.gif-animation {
  font-weight: 600;
}
.ant-card,
.ant-card-body {
  padding: 0;
}
.teacher-div {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}
.teacher-div img {
  width: 24%;
}
.teacher-div img:hover {
  cursor: pointer;
}
.gallery-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.contact-us-container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
  display: "flex";
}

@media screen and (min-width: 200px) and (max-width: 420px) {
  .result-generate-form {
    flex-wrap: wrap;
  }
  .result-submit-btn {
    width: 80%;
    margin: auto;
  }
  .result-heading {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
  }
  .header-hello-admin,
  .gif-animation {
    display: none;
  }
  .teacher-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    width: 100%;
  }
  .teacher-div img {
    width: 100%;
  }
  .gallery-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .contact-us-container {
    width: 85%;
  }
}
@media screen and (min-width: 421px) and (max-width: 1024px) {
  .result-generate-form {
    flex-wrap: wrap;
  }
  .result-submit-btn {
    width: 30%;
    margin: auto;
  }
  .buses-container {
    width: 100%;
    margin: auto;
  }
  .buses-container h1 {
    font-size: 16px;
  }
  .buses-container img {
    width: 100%;
  }
  .teacher-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
  }
  .teacher-div img {
    width: 100%;
  }
  .gallery-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .contact-us-container {
    display: flex;
    flex-direction: column;
    width: 93%;
  }
  .contact-us-container img {
    width: 100%;
  }
}
