.social-icons,
.twitter-icon,
.youtube-icon,
.whatsapp-icon {
  font-size: 25px;
  cursor: pointer;

  transition: color 0.3s ease;
}
.whatsapp-icon {
  color: #25d366;
}
.youtube-icon {
  color: #ff0000;
}
.twitter-icon {
  color: #1da1f2;
}
.instagram-icon {
  background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
  border-radius: 2px;
}
.social-icons .icon:hover {
  color: #1da1f2;
}

.social-icon-div p:hover {
  display: flex;
  flex-direction: column;
  color: #1da1f2;
}
.footer-item {
  cursor: pointer;
  transition: color 0.3s ease;
  color: #fff;
}

.footer-item:hover {
  color: #1da1f2;
}

.footer-heading {
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}
.footer-heading:hover {
  color: #1da1f2;
  cursor: pointer;
}
