.gallery-card {
  position: relative;
  overflow: hidden;
  width: 160px; /* Default for smaller screens */
  height: 160px; /* Default for smaller screens */
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .gallery-card {
    width: 320px; /* Medium and larger screens */
    height: 320px; /* Medium and larger screens */
  }
}

.overlay {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.hover-effect {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 1rem; /* Default size */
  top: -128px; /* Start above the card */
  left: -64px; /* Start left of the card */
  width: 128px;
  height: 176px;
  border-radius: 50%;
  background-color: rgba(15, 23, 42, 0.5); /* Neutral-950 opacity-50 */
  transition: all 0.5s ease;

  @media (min-width: 768px) {
    font-size: 1.125rem; /* Larger text for medium screens */
  }
}

.gallery-card:hover .hover-effect {
  top: -32px; /* Hover effect: bring it closer */
  left: -32px;
  width: 240%; /* Expand on hover */
  height: 240%; /* Expand on hover */

  @media (min-width: 768px) {
    width: 150%; /* Different size for medium screens */
    height: 150%;
  }
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
