.goal-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.details-card {
  width: 50%;
  align-items: center;
  padding: 10px;
}
.button-div {
  margin: auto;
  width: 30%;
  display: flex;
  justify-content: center;
}
.button-div button {
  width: 70%;
  color: black;
  background-color: whitesmoke;
  font-weight: 600;
  padding: 8px 15px;
  text-align: center;
}
.button-div button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.image-div {
  width: 50%;
}

.image-div img {
  height: 350px;
  object-fit: fill;
  width: 100%;
}

@media screen and (min-width: 200px) and (max-width: 420px) {
  .button-div {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }

  .details-card {
    width: 100%;
    align-items: center;
    text-align: justify;
    padding: 10px;
  }
  .image-div {
    width: 100%;
  }

  .image-div img {
    height: 350px;
    object-fit: fill;
    width: 100%;
  }
}
@media screen and (min-width: 421px) and (max-width: 1024px) {
  .button-div {
    width: 60%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
  }
  .details-card {
    width: 100%;
    align-items: center;
    padding: 20px;
    text-align: justify;
    height: 300px;
  }
  .image-div {
    width: 100%;
  }

  .image-div img {
    height: 350px;
    object-fit: fill;
    width: 100%;
  }
}
