.report-card {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: rgba(247, 249, 250, 0.897);
  border: 1px solid black;
}
.header {
  display: flex;
  align-items: center;
}

.school-logo {
  width: 55px;
  height: 55px;
}

.header-text {
  flex-grow: 1;
  text-align: center;
}

.school-name {
  text-align: center;
  margin-top: 10px;
  font-size: 1.5em;
}

.affiliation {
  text-align: center;
  font-size: 0.9em;
}

.report-title {
  text-align: center;
  margin-top: 20px;
  font-family: 20px;
  font-weight: bold;
}
.report {
  font-weight: bold;
}
.student-details {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.roll-info {
  text-align: right;
}

.marks-table {
  width: 100%;
  border-collapse: collapse;
}

.marks-table th,
.marks-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
